<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage-mapper">


 <!-- 주문내역 --> 
   <select id="selectMyOrderList" parameterType="int" resultType="MyPage">
   SELECT GA.CHANGENAME, GO.USERNO, GO.ODATE, GO.ORDERNO, G.GNAME, G.GPRICE, OC.ORDERCHK, D.TRACKINGNO, T.TRCODE, T.TRNAME
   FROM GORDER GO, GOODS G, ORDER_CHECK OC, MEMBER M, ORDERGOODS OG, GATTACHMENT GA, DELIVERY D, TRACKCOMPANY T
   WHERE GO.USERNO = M.USERNO
   AND GO.ORDERCHKNO = OC.ORDERCHKNO
   AND OG.GOODSNO = G.GOODSNO
   AND GO.ORDERNO = OG.ORDERNO
   AND GA.GOODSNO = OG.GOODSNO
   AND GO.ORDERNO = D.ORDERNO
   AND D.TRCODE = T.TRCODE(+)
   AND GA.GOODSNO = G.GOODSNO AND AGRADE = 0
   AND GO.USERNO =  #{userNo}
   
   </select>
   
  <!-- 주문내역조회 1개월 -->
    <select id="select1MOrderList" parameterType="int" resultType="MyPage">
   SELECT GA.CHANGENAME, GO.USERNO, GO.ODATE, GO.ORDERNO, G.GNAME, G.GPRICE, OC.ORDERCHK, D.TRACKINGNO, T.TRCODE, T.TRNAME
   FROM GORDER GO, GOODS G, ORDER_CHECK OC, MEMBER M, ORDERGOODS OG, GATTACHMENT GA, DELIVERY D, TRACKCOMPANY T
   WHERE GO.USERNO = M.USERNO
   AND GO.ORDERCHKNO = OC.ORDERCHKNO
   AND OG.GOODSNO = G.GOODSNO
   AND GO.ORDERNO = OG.ORDERNO
   AND GA.GOODSNO = OG.GOODSNO
   AND GO.ORDERNO = D.ORDERNO
   AND D.TRCODE = T.TRCODE(+)
   AND GA.GOODSNO = G.GOODSNO AND AGRADE = 0
   AND GO.USERNO =  #{userNo}
	AND ODATE BETWEEN TO_CHAR(ADD_MONTHS(SYSDATE,-1),'YYMMDD')
	AND TO_CHAR(SYSDATE,'YYMMDD')
   </select>
  
  <!-- 주문내역조회 3개월 -->
    <select id="select3MOrderList" parameterType="int" resultType="MyPage">
   SELECT GA.CHANGENAME, GO.USERNO, GO.ODATE, GO.ORDERNO, G.GNAME, G.GPRICE, OC.ORDERCHK, D.TRACKINGNO, T.TRCODE, T.TRNAME
   FROM GORDER GO, GOODS G, ORDER_CHECK OC, MEMBER M, ORDERGOODS OG, GATTACHMENT GA, DELIVERY D, TRACKCOMPANY T
   WHERE GO.USERNO = M.USERNO
   AND GO.ORDERCHKNO = OC.ORDERCHKNO
   AND OG.GOODSNO = G.GOODSNO
   AND GO.ORDERNO = OG.ORDERNO
   AND GA.GOODSNO = OG.GOODSNO
   AND GO.ORDERNO = D.ORDERNO
   AND D.TRCODE = T.TRCODE(+)
   AND GA.GOODSNO = G.GOODSNO AND AGRADE = 0
   AND GO.USERNO =  #{userNo}
	AND ODATE BETWEEN TO_CHAR(ADD_MONTHS(SYSDATE,-3),'YYMMDD')
	AND TO_CHAR(SYSDATE,'YYMMDD')
   </select>
  
  <!-- 주문내역조회 6개월 -->
   <select id="select6MOrderList" parameterType="int" resultType="MyPage">
   SELECT GA.CHANGENAME, GO.USERNO, GO.ODATE, GO.ORDERNO, G.GNAME, G.GPRICE, OC.ORDERCHK, D.TRACKINGNO, T.TRCODE, T.TRNAME
   FROM GORDER GO, GOODS G, ORDER_CHECK OC, MEMBER M, ORDERGOODS OG, GATTACHMENT GA, DELIVERY D, TRACKCOMPANY T
   WHERE GO.USERNO = M.USERNO
   AND GO.ORDERCHKNO = OC.ORDERCHKNO
   AND OG.GOODSNO = G.GOODSNO
   AND GO.ORDERNO = OG.ORDERNO
   AND GA.GOODSNO = OG.GOODSNO
   AND GO.ORDERNO = D.ORDERNO
   AND D.TRCODE = T.TRCODE(+)
   AND GA.GOODSNO = G.GOODSNO AND AGRADE = 0
   AND GO.USERNO =  #{userNo}
	AND ODATE BETWEEN TO_CHAR(ADD_MONTHS(SYSDATE,-6),'YYMMDD')
	AND TO_CHAR(SYSDATE,'YYMMDD')
   </select>
  
   <!-- 주문내역조회 직접조회 -->
   <select id="selectMySOrderList" parameterType="hashmap" resultType="MyPage">
   SELECT GA.CHANGENAME, GO.USERNO, GO.ODATE, GO.ORDERNO, G.GNAME, G.GPRICE, OC.ORDERCHK, D.TRACKINGNO, T.TRCODE, T.TRNAME
   FROM GORDER GO, GOODS G, ORDER_CHECK OC, MEMBER M, ORDERGOODS OG, GATTACHMENT GA, DELIVERY D, TRACKCOMPANY T
   WHERE GO.USERNO = M.USERNO
   AND GO.ORDERCHKNO = OC.ORDERCHKNO
   AND OG.GOODSNO = G.GOODSNO
   AND GO.ORDERNO = OG.ORDERNO
   AND GA.GOODSNO = OG.GOODSNO
   AND GO.ORDERNO = D.ORDERNO
   AND D.TRCODE = T.TRCODE(+)
   AND GA.GOODSNO = G.GOODSNO AND AGRADE = 0
   AND GO.USERNO =  #{userNo}
	AND ODATE BETWEEN TO_DATE(#{startDate}, 'YYMMDD') AND TO_DATE(#{endDate},'YYMMDD')
   </select>  
   
  <select id="selectTrackCompany" resultType="TrackCompany">
  	SELECT * FROM TRACKCOMPANY
  </select>
     
  <select id="selectOrderedList" parameterType="int" resultType="OrderedGoods">
  SELECT M.USERNAME, G.*, (SELECT CATEGORY FROM GOODS_CATEGORY
                           WHERE G.CATEGORYCODE = CATEGORYCODE) CATEGORY, 
                                 D.*, GA.CHANGENAME, TR.* 
	FROM DELIVERY D
	JOIN ORDERGOODS OG ON(OG.ORDERNO = D.ORDERNO)
	JOIN GOODS G ON(G.GOODSNO = OG.GOODSNO)
	JOIN MEMBER M ON(D.USERNO = M.USERNO)
	JOIN GATTACHMENT GA ON(G.GOODSNO = GA.GOODSNO AND GA.AGRADE = 0)
	LEFT JOIN TRACKCOMPANY TR ON(TR.TRCODE = D.TRCODE)
	WHERE G.USERNO = #{userNo}
  </select>
   
   
   <update id="updateDelivery" parameterType="OrderedGoods">
   		UPDATE DELIVERY
   		SET trackingNo = #{trackingNo},
   		    trCode = #{trCode}
   		WHERE deliveryNo = #{deliveryNo}
   </update>
  
  
  

   
</mapper>








